{% extends 'base.html.twig' %}

{% block title %}Hello TypeOrganisationController!{% endblock %}

{% block body %}
    <style>

    </style>

    <div class="example-wrapper">
        {% for d in data %}
            <h1>{{ d.id }}</h1>
            <h1>
                {{ d.nomDuContact }}
            </h1>
            <h1>
                {{ d.email }}
            </h1>
            <h1>
                {{ d.telephone }}
            </h1>
        {% endfor %}
    </div>
{% endblock %}