{% extends 'base.html.twig' %}

{% block title %}Hello BornesController!{% endblock %}

{% block body %}
    <style>

    </style>

    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    </head>
    </div>

    <div>
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.js"></script>

        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
        <script src="https://cdn.datatables.net/plug-ins/1.10.20/i18n/French.json"></script>

        <div>



            <table id="mydatatable" class="table table-striped table-bordered dt-responsive mydatatable" style="width:100%">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>etat</th>
                    <th>raison</th>
                    <th>date</th>
                </tr>
                </thead>

                <tbody>
                {% for b in borne %}
                    <tr>
                        <td>{{ b.id }}</td>
                        <td>{{ b.type.etat }}</td>
                        <td>{{ b.raison }}</td>
                        <td>{{ b.date |date }}</td>
                    </tr>
                {% endfor %}
                </tbody>

        </div>
    </div>
    <script type="text/javascript" src="jquery.dataTables.js"></script>
    <script>
        $(document).ready(function() {
            // Setup - add a text input to each footer cell
            $('#mydatatable thead tr').clone(true).appendTo( '#mydatatable thead' );
            $('#mydatatable thead tr:eq(1) th').each( function (i) {
                var title = $(this).text();
                $(this).html( '<input type="text" placeholder="Chercher '+title+'" />' );

                $( 'input', this ).on( 'keyup change', function () {
                    if ( table.column(i).search() !== this.value ) {
                        table
                            .column(i)
                            .search( this.value )
                            .draw();
                    }
                } );
            } );

            var table = $('#mydatatable').DataTable( {
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/French.json"
                },
                lengthMenu: [[2,3,5,-1],[2,3,5,'tous']],

            } );
        } );
    </script>
{% endblock %}
