{% extends 'base.html.twig' %}

{% block title %}Hello UtilisateursController!{% endblock %}

{% block body %}
    <div>



        <div>
            {% for d in data %}
                <h2>{{ d.email }}</h2>
                <div>{{ d.dateCreation|date }}</div>

                <div>{{ d.validation }}</div>

                <h2>ajouter les auters attributs</h2>

            {% endfor %}
        </div>
    </div>
{% endblock %}
