{% extends 'base.html.twig' %}

{% block title %}404 | Cigale{% endblock %}

{% block main %}
<main>
    <article>
        <h2>La page demandée n'existe pas</h2>
    </article>
</main>
{% endblock %}
