{% extends 'base.html.twig' %}

{% block title %}Hello Erreur404Controller!{% endblock %}

{% block main %}
<main>
    <article>
        <h2>La page demandée n'existe pas</h2>
    </article>
</main>
{% endblock %}
