{% extends 'base.html.twig' %}

{% block title %}CGU | Cigale{% endblock %}

{% block header %}
    <div class="tag"></div>
    <div class="title">
        <h1>{{ h1 | default('Cigale') }}</h1>
        <span>Condition générales d'utilisation</span>
    </div>
    <div class="compte"></div>
{% endblock %}

{% block main %}

{% endblock %}
