{% extends 'base.html.twig' %}

{% block main %}
<main>
		<article class="actus">
			<h2>CGU</h2>
			<p class="important">
				Yziact rédigera cette page html.<br>
				<br>
				Le contenu actuel sert juste à meubler
			</p>
			<div class="actu">
				<div class="img" style="background: no-repeat center center url('http://yziact.fr/wp-content/uploads/2019/04/Home-Yziact-systeme-informatique.jpg'); background-size: cover;">
				</div>
				<div class="content">
					<h3>Aide 1</h3>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi nihil est voluptas, optio illo id voluptatem sit dolore necessitatibus quis temporibus consectetur placeat, architecto delectus aliquam deleniti perferendis autem repellat.</p>
				</div>
			</div>
	</section>
{% endblock %}
