<h1>Activation de votre compte Cigale</p>
    <p>Bonjour, merci de cliquer sur le lien ci-dessous pour activer votre compte Cigale</p>
    <p><a href="{{ absolute_url(path('activation', {'token': token})) }}">{{ absolute_url(path('activation', {'token': token})) }}</a></p>
